@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f3f4f6;
}

.dark body {
  background-color: #000000; /* Fondo negro */
}

/* Personalización del ícono del calendario */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: inherit;
  filter: invert(50%) sepia(1) saturate(500%) hue-rotate(190deg);
  opacity: 1;
  margin-left: -20px;
}

/* Eliminación de la flecha del select */
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-align-last: center;
  text-align: center;
  padding-right: 0;
}

/* iOS específico para centrar opciones */
@supports (-webkit-appearance: none) {
  select {
    padding-left: 50%;
  }
}

/* Solución para select de Android */
select option {
  text-align: center;
}

/* Asegura que los inputs estén alineados verticalmente */
input,
select {
  text-align: center;
}

/* Loader inicial */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f4f6; /* Fondo claro por defecto */
  color: #333; /* Texto oscuro */
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
  position: relative;
}

html.dark .loader {
  background-color: #000; /* Fondo oscuro para el loader */
  color: #fff; /* Texto blanco */
}

.dots {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 1rem;
  height: 1rem;
  background-color: currentColor;
  border-radius: 50%;
  animation: bounce 1.5s infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
